* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: bold;
}
h3 {
    border: 1px black solid;
    position: absolute;
    top: 0;
    right: 0;
}
.title1 {
  background: white;
}
.title2 {
  background: white;
}
.title3 {
  background: white;
}
.item {
  position: relative;
  background-color: #eae4e5;
  border: 1px black solid;
  margin: 10px;
  width: 33.33%;
  min-height: 160px;
}
.row {
    display: flex;
}
@media (min-width: 768px and max-width: 991px) {
  
}
